/* 去掉测试网 */
._3XUOeAoddNfEwQHKBafi7y.Gkcvqvf5o0nqyXgyh5PtL[href='https://trade.stage.dydx.exchange'] {
  display: none !important;
}
/* 去掉头部帮助 */
._2mfH8m1iB_VZ-sLti0KBbS div:first-child ._3uZQDc9OpwqP7b99Be4vlc {
  display: none !important;
}

._2lYA4Crb4Y4B7hAuLadaDG ._26-QBzB2iVkzH8bn17twVD[role="button"][tabindex="0"] {
  display: none !important;
}
.sc-dIsUp.jEEywD {
  display: none !important;
}

/* 钱包连接弹窗  文案 */
._2wNKOXAgdCkxKsiBDbHoA8._2wZaHSB97Te-ugQ3tWUYlj .sc-jQAxuV.gWQZCx .sc-bTDOke.dXiuJH .sc-jUfyBS.eSyZIh{
  display: none;
}
/* 钱包连接弹窗 搜索*/
._2wNKOXAgdCkxKsiBDbHoA8._2wZaHSB97Te-ugQ3tWUYlj .sc-jQAxuV.gWQZCx ._2QkD0jruu4lcYgNF7NCFWJ._2ytuhSsxhb07-7ocnUkfPh._1dGy5cRE67Jzu74Rcmfv3F {
  display: none;
}
/* 钱包连接弹窗 非metamask钱包*/
._2wNKOXAgdCkxKsiBDbHoA8._2wZaHSB97Te-ugQ3tWUYlj .sc-bdnxRM.jurdFw:not(:first-child) {
  display: none;
}
._2wNKOXAgdCkxKsiBDbHoA8._2wZaHSB97Te-ugQ3tWUYlj .sc-exqIPC.leuDbu {
  display: none;
}